$main-theme-color: #FFFFFF;
$body-bg-color:#E6ECF0;
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: #FFFFFF;
$secondary-text-color: #33A4EC;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 30%);
$compose-background: lighten($main-theme-color, 32%);

@import "_base.scss";

body {
  @include baseTheme();
}
